<h1> Administrator Tasks</h1><br>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {{new-item save="save"}}<br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      {{#each model as |item|}}
      {{admin-tile item=item update="update" destroyItem="destroyItem"}}<br>
      {{/each}}
    </div>
  </div>
</div>
