<div class="wrapper">
  <nav role="navigation" class="navigation-container">
    <ul class="navigation navigation-open">
      <div class="navitems">
        <li class="navigation-item">
          {{#link-to 'index'}}<img class="img-logo" src="/css/img/blue-logo.png">{{/link-to}}
        </li>
        <li class="navigation-item navigation-active">
          {{#link-to 'admin'}} <span class="glyphicon glyphicon-user"></span>  Admin{{/link-to}}
        </li>
        <li class="navigation-item">
          {{#link-to 'store'}}<span class="glyphicon glyphicon-cutlery"></span> Store{{/link-to}}
        </li>
        <li class="navigation-item">
          {{#link-to 'checkout'}}{{mini-cart}}{{/link-to}}
        </li>
      </div>
    </ul>
  </nav>
  <div class="main-body">
    {{outlet}}
  </div>
  <div class="footer">
    <p> &copy; 2016 Sam Park and Molly McGlone</p>
  </div>
</div>
