<div class="wrapper">
  <div class="main-container">
    <nav role="navigation" class="navigation-mobile">
      <nav role="navigation" class="navigation-container">
        <div class="img-wrap">
          {{#link-to 'index'}}<img class="img-logo" src="/css/img/main-logo.png">{{/link-to}}
        </div>
        <ul class="navigation navigation-open">
          <li class="navigation-item navigation-active">
            {{#link-to 'admin'}} <span class="glyphicon glyphicon-user"></span>  Admin{{/link-to}}
          </li>
          <li>
          {{#link-to 'store'}}<span class="glyphicon glyphicon-cutlery"></span> Store{{/link-to}}
          </li>
          <li>
            {{#link-to 'index'}}
            <span class="glyphicon glyphicon-home"></span> Home
            {{/link-to}}
          </li>
          <li>
            {{mini-cart}}
          </li>
        </ul>
      </nav>
    </nav>
  </div>
  <div class="main-body">
    {{outlet}}
  </div>
</div>
