<div class="jumbotron">
  <h1 class="center"></h1>
</div>
<div class="col-sm-6 col-sm-offset-3">
  {{#link-to 'store'}}<img class="basket" src="/css/img/basket.png">
  <h1 class="center">Enter the Shop</h1>{{/link-to}}<br><br>
</div>
