<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h1>Store</h1>
      {{#each model as |item|}}
        {{item-tile item=item}}<br>
      {{/each}}
  </div>
  <div class="col-sm-4">
    {{display-cart}}
  </div>
</div>
