<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      {{store-tile items=model}}
    </div>
    <div class="col-sm-4">
      {{#link-to 'checkout'}}<h3>Shopping Cart</h3>{{/link-to}}
      {{display-cart}}
    </div>
  </div>
</div>
